### Weekly Viz Challenge: Ride Share Bubble Plot

In [ ]:
# WeeklyVizChallenge file directory path
# /My Drive/Data Analytics (Main Folder)/Projects & Work/Analytics-Projects/WeeklyVizChallenge (Ongoing Projects)/Project1_Rideshare_AverageFare_Trend

In [ ]:
# Load Dependencies for this project

import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Identify File Path

rural_df = pd.read_csv("/My Drive/Data Analytics (Main Folder)/Projects & Work/Analytics-Projects/WeeklyVizChallenge (Ongoing Projects)/Project1_Rideshare_AverageFare_Trend/Data/rural_rideshare_data.csv")
suburban_df = pd.read_csv("/My Drive/Data Analytics (Main Folder)/Projects & Work/Analytics-Projects/WeeklyVizChallenge (Ongoing Projects)/Project1_Rideshare_AverageFare_Trend/Data/suburban_rideshare_data.csv")
urban_df = pd.read_csv("/My Drive/Data Analytics (Main Folder)/Projects & Work/Analytics-Projects/WeeklyVizChallenge (Ongoing Projects)/Project1_Rideshare_AverageFare_Trend/Data/urban_rideshare_data.csv")

# Verify their types
print(type(rural_df))    # Should output: <class 'pandas.core.frame.DataFrame'>
print(type(suburban_df)) # Should output: <class 'pandas.core.frame.DataFrame'>
print(type(urban_df))    # Should output: <class 'pandas.core.frame.DataFrame'>

rural_df.head()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

,City,Average Fare ($),Total Number of Rides,Total Number of Drivers,City Type
0,New York,20.65,131342,684,Rural
1,Los Angeles,23.82,14625,3936,Rural
2,San Antonio,8.19,10678,2074,Rural
3,Austin,18.77,84606,630,Rural
4,Jacksonville,23.27,84921,1132,Rural

In [ ]:
# Test rural df to make sure it prints correctly.

suburban_df.head()

,City,Average Fare ($),Total Number of Rides,Total Number of Drivers,City Type
0,Phoenix,17.98,89193,2179,Suburban
1,Philadelphia,22.12,12393,4230,Suburban
2,Dallas,18.52,68657,3702,Suburban
3,San Jose,13.35,11129,3390,Suburban
4,Fort Worth,19.10,118673,1248,Suburban

In [ ]:
urban_df.head()

,City,Average Fare ($),Total Number of Rides,Total Number of Drivers,City Type
0,Chicago,24.80,331621,1081,Urban
1,Houston,16.10,238172,2600,Urban
2,San Diego,29.72,365065,4588,Urban
3,Seattle,36.29,318489,4678,Urban
4,Louisville,20.24,96850,3441,Urban

In [ ]:
# Merge all of the datasets together

processed_df = pd.concat([rural_df, suburban_df, urban_df], ignore_index=True)

In [ ]:
print(processed_df.info())  # Check data types
print(processed_df.isnull().sum())  # Check for missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   City                     119 non-null    object
 1   Average Fare ($)         119 non-null    float64
 2   Total Number of Rides    119 non-null    int64
 3   Total Number of Drivers  119 non-null    int64
 4   City Type                119 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 4.8+ KB
None
City                       0
Average Fare ($)           0
Total Number of Rides      0
Total Number of Drivers    0
City Type                  0
dtype: int64

In [ ]:
plt.figure(figsize=(10, 6))
sns.scatterplot(
    data=df, x="distance", y="price", size="num_riders",
    hue="service_type", sizes=(20, 400), alpha=0.5
)
plt.title("Rideshare Pricing by Distance and Service Type")
plt.xlabel("Distance (miles)")
plt.ylabel("Price ($)")
plt.legend()
plt.show()

ValueError: Could not interpret value `distance` for parameter `x`

In [ ]:
# Saved File
df.to_csv("/My Drive/Data Analytics (Main Folder)/Projects & Work/Analytics-Projects/WeeklyVizChallenge (Ongoing Projects)/Project1_Rideshare_AverageFare_Trend/Cleaning/processed_df.csv", index=False)

In [ ]:
# Saved Vizualization
plt.savefig("/My Drive/Data Analytics (Main Folder)/Projects & Work/Analytics-Projects/WeeklyVizChallenge (Ongoing Projects)/Project1_Rideshare_AverageFare_Trend/bbubble_plot.png")