### Weekly Viz Challenge: Ride Share Bubble Plot

In [ ]:
# WeeklyVizChallenge file directory path
# /content/drive/My Drive/Data Analytics (Main Folder)/Projects & Work/Analytics-Projects/WeeklyVizChallenge (Ongoing Projects)

In [3]:
# Load Dependencies for this project

import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Identify File Path

file_path = "/My Drive/Data Analytics (Main Folder)/Projects & Work/Analytics-Projects/WeeklyVizChallenge (Ongoing Projects)/Data/RideshareBubblePlot/rural_rideshare_data.csv"
df = pd.read_csv(file_path)

df.head()

,City,Average Fare ($),Total Number of Rides,Total Number of Drivers,City Type
0,New York,20.65,131342,684,Rural
1,Los Angeles,23.82,14625,3936,Rural
2,San Antonio,8.19,10678,2074,Rural
3,Austin,18.77,84606,630,Rural
4,Jacksonville,23.27,84921,1132,Rural